---
apiVersion: image.toolkit.fluxcd.io/v1
kind: ImageUpdateAutomation
metadata:
  name: image-updater
spec:
  interval: 1m0s
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  update:
    path: ./app/rss2social/production
    strategy: Setters
  git:
    checkout:
      ref:
        branch: main
    commit:
      author:
        email: fluxcdbot@journalduhacker.net
        name: FluxCD ImageUpdater
      messageTemplate: |
        [rss2social] Update image {{range .Changed.Changes}}{{println .NewValue}}{{end}}
    push:
      branch: main
